{% extends "imagenation/base.html" %}

{% load addcss %}

{% block user-info %}
    <a href="#" class="navbar-text" data-toggle="dropdown"> {{user.first_name}} {{user.last_name}} <b class="caret"></b></a>
    <ul class="dropdown-menu">     
        <li><a href="{% url 'upload_photo' %}"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
        <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="{% url 'society' %}"><span class="glyphicon glyphicon-th-large"></span> ImageNation</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
{% endblock %}

{% block content %} 
	{% load staticfiles %}
	<link href="{% static 'imagenation/base.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'imagenation/profile.js' %}" type="text/javascript"></script>

	<div class="container">
		<div class="row justify-content-center">
			<h3>Online Photo Gallery for {{user.first_name}}</h3>
		</div>
		<section id="photo_gallery">
			{% for photo in photos %}
				<div class ="container_">
					<img src="{% url 'get_photo' photo.id %}" alt="Gallery Photo"> 

					<div class="middle_first">
			    		<a class="text" href="{% url 'photo_detail' photo.id%}">Photo Details</a>	
			    	</div>

					<div class="middle_top">
				        <a class="text" href="{% url 'publish_photo' photo.id %}">
				        	{% if photo.share %} Set Private {% else %} Set Public {% endif %}</a>
				    </div>
				    
					<div class="middle_center">
			    		<a class="text" href="{% url 'edit_photo' photo.id %}">Edit</a>	
			    	</div>
			    	
		  			<div class="middle_bottom">
		  				<a class="text" href="{% url 'delete_photo' photo.id %}" onclick="return confirm('Confirm delete');">Delete</a>
		  			</div>
		  		</div>
			{% endfor %}
		</section>
	</div>
{% endblock %} 
